{% if page.alert %}
  <div role="alert">
    {{ page.alert }}
  </div>
{% endif %}

{{ page.top }}

<header class="page-header">
  {{ page.header_left }}
  <div class="navbar {{ navbar_class }}">
    <div class="collapse navbar-collapse" id="navbarContent">
      {{ page.primary_menu }}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  {{ page.header_right }}
</header>

{% if page.hero %}
  <div role="complementary">
    {{ page.hero }}
  </div>
{% endif %}

{{ page.before_content }}

<main>
  <a id="main-content" tabindex="-1"></a>
  {{ page.content }}
</main>

{{ page.after_content }}

<footer>
  {{ page.footer }}
</footer>

{{ page.modals }}
