<span id="toptarget"></span>

<header class="header">
 {% if page.aboveheader is empty %}
	    {% else %}
	    {{ page.aboveheader }}
	    {% endif %}

  <div class="navbar {{ navbar_class }} container">
    <div class="navbar-brand pr-1">
      {{ page.header }}
    </div>
    <div class="collapse navbar-collapse" id="navbarContent">
      {{ page.primary_menu }}
    </div>
    {{ page.header_right }}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</header>

<div class="clearfix cover">
  {{ page.hero }}
</div>

<div class="container-fluid p-0 {% if page.hero is empty %} no-hero {% endif %}">
  {{ page.above_content }}
</div>

<a id="main-content" tabindex="-1"></a>
<div class="container-fluid contentfluid">
	<div class="defaultmain container pt-4 pb-4 pt-sm-5 pb-sm-5">
	    {% if page.sidebar is empty %}
	      <main>
	        {{ page.content }}
	      </main>
	    {% else %}
	    <div class="row">
	      <aside class="col-sm-3 order-2 order-sm-0">
	        {{ page.sidebar }}
	      </aside>
	      <main class="col-sm-9">
	        <a id="main-content" tabindex="-1"></a>
	        {{ page.content }}
	      </main>
	     </div>
	    {% endif %}
	</div>
</div>

<div class="container-fluid p-0" role="complementary">
  {{ page.below_content }}
</div>

<div class="container-fluid p-0" role="complementary">
  {{ page.contact_bar }}
</div>

<footer class="container-fluid p-0 pt-2 pb-2">
    <div class="container text-center">
        {{ page.footer }}
    </div>
</footer>

<div class="container-fluid p-0" role="complementary">
  {{ page.below_footer }}
</div>

{{ page.modals }}


