<header>
  {{ page.header }}
  {{ page.primary_menu }}
  {% if is_front %}
    <div class="hero">
      {{ page.slide_show }}
      {{ page.hero }}
    </div>
  {% endif %}
</header>

{% if is_front %}
  {{ page.triptych }}
{% endif %}

<main>
  {% if page.sidebar_first|render|striptags|trim is not empty  %}
    <aside class="sidebar">
      {{ page.sidebar_first }}
    </aside>
  {% endif %}
  {{ page.content }}
</main>

{{ page.bottom }}

<footer>
  <div class="content-wrapper">
    {{ page.footer_left}}
    {{ page.footer_right }}
  </div>
</footer>

{{ page.modals }}
