{% import _self as menus %}

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('nav') }}>
    {% else %}
      <ul class="dropdown-menu">
    {% endif %}
      {% for item in items %}
        {%
          set classes = [
            'nav-item',
            item.is_expanded ? 'dropdown',
          ]
        %}
        <li{{ item.attributes.addClass(classes) }}>
          {%
            set link_classes = [
              menu_level == 0 ? 'nav-link',
              menu_level > 0 ? 'dropdown-item',
              item.is_expanded ? 'dropdown-toggle',
              item.in_active_trail ? 'active',
            ]
          %}
          {% if item.below %}
            {{ link(item.title, item.url, {'class': link_classes, 'data-toggle': 'dropdown'}) }}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% else %}
            {{ link(item.title, item.url, {'class': link_classes}) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
