<header>
  {{ page.alert }}

  <div class="navbar navbar-light {{ navbar_class }}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    {{ page.top }}

    {{ page.header }}

    <div class="collapse navbar-collapse" id="navbarContent">
      <button class="navbar-close" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ page.primary_menu }}
    </div>
  </div>
</header>

{{ page.hero }}

{{ page.before_content }}

<main>
  {% if page.sidebar_first|render|striptags|trim is not empty  %}
    <div class="row">
      <div class="col-12 col-lg-8">
        {{ page.content }}
      </div>
      <aside class="col-12 col-lg-4">
        {{ page.sidebar_first }}
      </aside>
    </div>
  {% else %}
    {{ page.content }}
  {% endif %}
</main>

{{ page.after_content }}

<footer>
  {{ page.map }}

  {{ page.footer }}

  {{ page.bottom }}
</footer>

{{ page.modals }}
